################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC 5 .NET Core Migrated Application/.vs/ContosoUniversity
